.card{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    height: 100;
    width: 150px;
    margin: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}